<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/doctorlogin.css">
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i></div>
    </header>
    
    <h1 class="heading mt-3" style="color:#24272E;font-weight:550;">My Current Appointments</h1>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="{% url 'blogs' %}" class="nav_link"> <i class='bx bx-home-alt-2'></i> <h6 class="nav_names">All Blogs</h6> </a>
              <div class="nav_list"> 
                <a href="{% url 'appoint' %}" class="nav_link"> <i class='bx bx-user nav_icon'></i> <h6 class="nav_name">Book Appointment</h6> </a> 
                <a href="{% url 'myapps' %}" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">My Appointments</span> </a>  
              </div>
            </div> <a href="{% url 'logout' %}" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <h6 class="nav_name">Logout</h6> </a>
        </nav>
    </div>

    
    <div class="container mt-4 mb-0" style="width:700px;">
      {% if messages %}
            {% for message in messages %}
              <p {% if message.tags %} class="alert alert-{{message.tags}} mb-4" {% endif %} align="center"> {{message}} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></p>
            {% endfor %}
          {% endif %}
    </div>

<div class="container">
    {% for i in data %}
    <div class="card">
      <div class="card__body">
        <span class="tag tag-blue">{{i.speciality}}</span>
        <h4>Appointment {{forloop.counter}}</h4>
        <h6 class="text">Doctor's Name: {{i.doctor_name}}</h6>
        <h6 class="text">Patient's Name: {{i.patient_name}}</h6>
        <h6 class="text">Date of Appointment: {{i.app_date}}</h6>
        <h6 class="text">Start Time of Appointment: {{i.app_time}}</h6>
        <h6 class="text">End Time of Appointment: {{i.end_time}}</h6>
      </div>
    </div>
    {% endfor %}
</div>
</body>

  <script src="/static/JS/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>
</html>